body{
    background-color: rgb(65,105,225);
    font-family: "Ubuntu", serif;
}

img{
    width: 10%;
    display: block;
}

label{
    display: block;
    margin-left: 2%;
    font-size: 3vw;
    font-family: "Ubuntu", serif;
    font-weight: 700;
}

div{
    align-items: center;
    margin-bottom: 2%;
}

#Username{
    /* nothing  */
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 5px;
}

#UserIn{
    font-size: 1.5em;
    border-radius: 5px;
    background-color: rgb(218, 165, 32);
    color: rgb(30, 81, 235);
}

#UserIn::placeholder{
    color: rgb(99, 114, 157);
}

h1{
    background-color: rgb(218, 165, 32);
    border-radius: 10px;
    font-size: 7vw;
    margin-top: 2%;
}

#UsernameDiv{
    align-items: center;
    display: inline-block;
    background-color: rgb(29, 174, 240);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-bottom: 3%;
}